:root {
    --primary: hsl(171, 100%, 43%);
    --primary-gradient: linear-gradient(180deg, hsl(171, 100%, 38%) 0%, hsl(171, 100%, 43%) 30%, hsl(171, 100%, 48%) 61%);
}

.bg-gradient-primary {
    background-color: var(--primary);
    background-image: var(--primary-gradient);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.max-table-height {
    height: 500px;
}

.overflow-y {
    overflow-y: scroll;
}

.w-5 {
    width: 5%;
}

.w-15 {
    width: 15%;
}

.w-40 {
    width: 40%;
}
