@page "/"
@layout DashboardLayout
@inject IJSRuntime JS

<PageHeader Text="Dashboard" />

<div class="row">
    <DashboardCard Title="Temperature World Map" BootstrapSizing="col-xl-9 col-lg-8">
        <div id="googleMap" style="height: 500px; width: 500px;"></div>
    </DashboardCard>

    <DashboardCard Title="Google Maps marker" BootstrapSizing="col-xl-3 col-lg-4">
        <div>
            <p class="m-0">
                <i class="fa-solid fa-temperature-half"></i> 26°C
            </p>
            <p class="m-0">
                <i class="fa-solid fa-location-crosshairs"></i> lat: 0.00
            </p>
            <p class="m-0">
                <i class="fa-solid fa-location-crosshairs"></i> lon: 0.00
            </p>
        </div>
    </DashboardCard>
</div>

@functions {
    private string _map;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) 
        {
            _map = await JS.InvokeAsync<string>("initalizeMap", "googleMap");
            //await JS.InvokeVoidAsync("createMarker", _map, "test", 51.2, 6.1);
        }
    }
}