@page "/tables"
@layout DashboardLayout

<PageHeader Text="Tables" />

<!-- Content Row -->
<div class="row justify-content-center">
    <DashboardCard Title="Temperature World Map" BootstrapSizing="col-xl-12">
    
        <div class="pr-3">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col" class="w-5">#</th>
                        <th scope="col" class="w-40"><i class="fa-solid fa-location-crosshairs"></i> Lattitude</th>
                        <th scope="col" class="w-40"><i class="fa-solid fa-location-crosshairs"></i> Longitude</th>
                        <th scope="col" class="w-15"><i class="fa-solid fa-temperature-half"></i> Temperature &#8451;</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="overflow-y max-table-height">
            <table class="table table-striped text-center">
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                        <td class="w-40">48.137154</td>
                        <td class="w-40">11.576124</td>
                        <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
                <tr>
                    <th scope="row" class="w-5">1</th>
                    <td class="w-40">48.137154</td>
                    <td class="w-40">11.576124</td>
                    <td class="w-15">45</td>
                </tr>
            </table>    
        </div>
    </DashboardCard>
</div>