<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">@Text</h1>
</div>

@code {

    /// <summary>
    ///     The text that will be shown on the header.
    /// </summary>
    [Parameter]
    public string Text { get; set; } = null!;

}